/* CSS */
.dashboard_main_ground__09 {
    /* width: 90%;
    margin: auto; */
    /* display: grid;
    grid-template-columns: 250px auto; */
    min-height: 100%;
    background-color: #fff;
    /* border-radius: 20px; */
    /* overflow: hidden; */
    margin-top: 30px;
    /* -webkit-box-shadow: -1px 1px 9px -1px rgba(0, 0, 0, 0.4);
    box-shadow: -1px 1px 9px -1px rgba(0, 0, 0, 0.4); */
    margin-bottom: 30px;
}

.dashboard_main_ground__09 {
  max-width: 100%;
  margin: auto;
}

/* @media (min-width: 1580px) {
  .dashboard_main_ground__09 {
    max-width: 1580px;
    margin: auto;
  }
} */

.dashboard_main_ground__09 button:hover {
    cursor: pointer;
}

.desh_left_side_098 {
    background-color: rgb(37, 37, 37);
}

.desh_right_9s897 {
    width: 100%;
    background-color: #fff;
}